@font-face {
    font-family: 'CaviarDreams';
    src: url("../fonts/CaviarDreams.ttf") format("truetype");
    src: url("../fonts/CaviarDreams.woff") format("woff");
}
@font-face {
    font-family: 'CaviarDreamsBold';
    src: url("../fonts/Caviar_Dreams_Bold.ttf") format("truetype");
    src: url("../fonts/Caviar_Dreams_Bold.woff") format("woff");
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/cover.jpg") no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

#navigation {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    background: -webkit-linear-gradient(#ffffff 67%, transparent 33%);
    background: -o-linear-gradient(#ffffff 67%, transparent 33%);
    background: -moz-linear-gradient(#ffffff 67%, transparent 33%);
    background: linear-gradient(#ffffff 67%, transparent 33%);
}

#nav-links li {
    background-color: #ffffff;
    padding: 15px 0.5em;
    border-bottom: 1px solid #ccc8c8;
    color: #b03635;
}

#nav-links li:hover {
    background-color: #e2a252;
    color: #ffffff;
}

#nav-links li a {
    text-decoration: none;
    font-family: 'CaviarDreamsBold';
    text-transform: uppercase;
    font-size: 15px;
    color: inherit;
}

#nav-links {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: absolute;
    transform: translateY(-350px);
}

#nav-links.open {
    transform: translateY(-100px);
}

#hamburger-menu {
    margin: 0.5em;
    background: none;
    border: none;
    display: block;
    font-size: 2em;
    color: #b03635;
    position: absolute;
    float: right;
    right: 0;
}

#logo {
    width: 100%;
    max-width: 205px;
    display: block;
    margin: 0 auto;
}

.page {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    line-height: 1.8em;
    font-size: 1em;
}

/*  Main */

main,
.sidebar,
article {
    background-color: #ffffff;
    margin: 0.7em;
    padding: 1em 1.2em;
    border: 3px solid #e2a252;
}

h1,
h2 {
    font-family: 'CaviarDreamsBold';
}

h1 {
    font-size: 1.7em;
    color: #b03635;
}

h2 {
    font-size: 1.3em;
    color: #103853;
}


.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.decorative-text {
    font-family: 'Rouge Script', cursive;
    font-size: 2.1em;
    color: #b03635;
    margin: 0 2em;
}

#divider {
    margin: 1em auto;
    width: 100%;
    max-width: 260px;
}

.reservation {
    text-align: center;
}

.description a {
    color: #e2a525;
}

.description a:hover {
    color: #b03635;
}

.button {
    width: 100px;
    padding: 10px 0;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #103853;
    color: #ffffff;
    font-family: 'CaviarDreams';
    text-transform: uppercase;
}

.button:hover {
    background-color: #e2a252;
    color: #ffffff;
    box-shadow: 1px 2px 1px #222222;
}

.feature-dish {
    max-width: 100%;
}

/* Footer */

footer {
    background-color: #e2a252;
    width: 100%;
    padding: 2em 0;
    text-align: center;
}

footer ul {
    padding: 0;
    margin: 0 auto;
}

footer ul a {
    text-decoration: none;
    color: #103853;
    font-size: 1.2em;
}

footer ul li {
    display: inline;
}

footer ul > * + * {
    margin-left: 1.5em;
}

footer ul a {
    padding: 0.5em;
    border-radius: 60%;
}

footer ul a:hover {
    background-color: #ffffff;
    box-shadow: 1px 2px 1px #222222;
}

footer ul a.hv-fb {
    padding: 0.5em 0.8em;
}

footer ul a.hv-ig {
    padding: 0.5em 0.7em;
}

/* Media Queries */

@media all and (min-width: 320px) {

    .sidebar article::after {
        display: block;
        content: "";
        clear: both;
    }
    #cook-vector {
        width: 50%;
        float: left;
    }
    #buttons {
        float: right;
        width: 50%;
    }
    .button:first-child {
        margin-top: 3em;
    }
}

@media all and (min-width: 650px) {
    .home.today,
    .home.promo {
        width: calc(100% / 2 - 5em);
        position: relative;
        float: left;
        margin-left: 1.2em;
    }

    .page::after {
        content: "";
        display: block;
        clear: both;
    }

    .sidebar article {
        float: left;
        width: 45%;
    }
    .sidebar article::after {
        clear: none;
    }

    .sidebar::after {
        display: block;
        content: "";
        clear: both;
    }
}

@media all and (min-width: 960px) {
    main {
        width: calc(100% - 100% / 3 - 4.5em);
        float: left;
    }

    .home,
    .home.today,
    .home.promo {
        width: calc(100% / 3 - 5em);
        position: relative;
        float: left;
        display: inline-block;
    }
}

@media all and (min-width: 1024px) {
    .sidebar {
        width: calc(100% - 100% / 3 * 2 - 4em);
        float: right;
    }

    .sidebar::after {
        display: block;
        clear: none;
    }

    .fa-bars,
    .fa-times {
        display: none;
    }

    #hamburger-menu {
        display: none;
    }
    #nav-desktop {
        width: 100%;
        margin: 0 auto;
        max-width: 1024px;
    }
    #nav-desktop::after {
        display: block;
        content: "";
        clear: both;
    }
    #nav-links {
        display: block;
        position: relative;
        float: right;
        text-align: right;
        width: 50%;
        top: calc(160px * 0.45);
        margin-right: 1em;
        transform: translate(0);
        transition: none;
        z-index: 1;
    }
    #nav-links li {
        display: inline;
        padding-right: 1em;
        border: none;
    }
    #nav-links li:hover {
        background-color: #ffffff;
        color: #e2a252;
        text-decoration: underline;
    }
    #logo {
        margin-left: 1em;
        position: relative;
        float: left;
        width: 50%;
    }
}

@media all and (min-height: 800px) and (min-width: 1024px) {
    footer {
        margin-top: calc(100vh - 800px);
    }
}
